<h1>Projects index</h1>
<%=link_to "Create new Project",new_project_path%>
<% @projects.each do |project| %>
  <%= project_display(project) %>
  <%= link_to "Show", project_path(project) %>
  <%= link_to "Edit", edit_project_path(project) %>
  <%= link_to "Delete", project_path(project), :method => :delete, :confirm => "Are you absolutely sure?" %>
<% end %>