<h1><%=@project.title%></h1>
<%= project_display(@project) %>
<%= link_to "<-- back",projects_path%>
<%= link_to "Add a Taskgroup", new_project_task_group_path(@project) %>
<%= display_task_groups(@project)%>